---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign category_post_count = 0 %}
    {% for post in site.publications reversed %}
      {% if post.category == category[0] %}
        {% assign category_post_count = category_post_count | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if category_post_count > 0 %}
      <details class="publication-category" open>
        <summary>
          <span class="publication-category__title">{{ category[1].title }}</span>
          <span class="publication-category__count">{{ category_post_count }}</span>
        </summary>
        <div class="publication-category__items">
          {% for post in site.publications reversed %}
            {% if post.category != category[0] %}
              {% continue %}
            {% endif %}
            {% include archive-single.html %}
          {% endfor %}
        </div>
      </details>
    {% endif %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


