{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h3>
    {% if post.poem_collection or post.type or post.venue or post.date or post.hyperlink %}
      {% assign show_meta_separator = false %}
      <p class="archive__item-excerpt" itemprop="description">
        {% if post.poem_collection %}
          {% assign poem_collection_slug = post.poem_collection | slugify %}
          <a href="{{ '/poems/' | append: poem_collection_slug | append: '/' | relative_url }}">{{ post.poem_collection }}</a>
          {% assign show_meta_separator = true %}
        {% endif %}
        {% if post.type %}
          {% if show_meta_separator %} · {% endif %}
          {{ post.type | capitalize }}
          {% assign show_meta_separator = true %}
        {% endif %}
        {% if post.venue %}
          {% if show_meta_separator %} · {% endif %}
          {{ post.venue }}
          {% assign show_meta_separator = true %}
        {% endif %}
        {% if post.date %}
          {% if show_meta_separator %} · {% endif %}
          {{ post.date | date: '%B %d, %Y' }}
          {% assign show_meta_separator = true %}
        {% endif %}
        {% if post.hyperlink %}
          {% if show_meta_separator %} · {% endif %}
          <a href="{{ post.hyperlink }}" target="_blank" rel="noopener">learn more</a>
        {% endif %}
      </p>
    {% endif %}
    </li>
  </article>
</div>
